<select class="selectpicker selector">
    <option value="all">all over the world !</option>
  {{#each options}}
    <option value={{cityId}}> {{countryName}}, {{city}} ({{count}})</option>
  {{/each}}
</select>
